#bizchat-content {
  margin: 0 40px;
  padding: 0 30px;
}

#bizchat-content h1 {
  display: block;
  width: 300px;
  text-align: center;
  margin: 10px auto;
}

#bizchat-link {
  display: block;
  width: 500px;
  margin: 20px auto;
  text-align: center;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #007bff;
  text-decoration: none;
  border-radius: 25px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

#bizchat-link:hover {
  background-color: #0056b3;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

#bizchat-link:active {
  background-color: #52C7FB;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

